// dropdown menu
.dropdown-item:focus {
  background-color: transparent !important;
}

.dropdown-item.active {
  background-color: transparent !important;
  color: rgb(255, 213, 0);
}

.dropdown-item:hover {
  text-decoration: underline;
}

// chevron down animation
.rotate-180 {
  transform: rotate(-180deg);
}
.transition-transform {
  transition: transform 0.4s ease;
}

/* Login */

.logout {
  transform: rotate(-180deg);
}

.custom-dropdown-toggle:hover,
.custom-dropdown-toggle:focus,
.custom-dropdown-toggle:active,
.custom-dropdown-toggle.show {
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: inherit !important;
}
